.panel.panel-default
  .panel-heading
    %h1 Listing categories
  %table.table.table-striped
    %tr
      %th Name
      %th

    - categories.each do |category|
      %tr
        %td= category.name
        %td.text-right
          = link_to 'Show', category, class: 'btn btn-primary'
          -if user_signed_in?
            -if current_user.try :admin?
              = link_to 'Edit', edit_category_path(category), class: 'btn btn-warning'
            = link_to 'Destroy', category, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }

%br
-if current_user.try :admin?
  = link_to 'New Category', new_category_path, class: 'btn btn-success'
