%p.text-primary= notice
%p.text-warning= flash[:error]
.panel.panel-default
  .panel-heading
    %h1= product.title
  .panel-body
    %dl.dl-horizontal
      %dt Description:
      %dd= product.description
      %dt Price:
      %dd= product.price
      %dt Category
      %dd= product.category.name

%h3 Reviews:
-if user_signed_in?
  = render 'reviews/form'
  %br
= render reviews

%br
%p
  -if user_signed_in?
    = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-warning'
  = link_to 'Back to category', category_path(category), class: 'btn btn-primary'
